*.log
*.csv
*.out
*.pid
.c9revisions
.DS_Store
.env
.idea
.sass-cache
.settings
assets/tmp
assets/dist
coverage.html
doc
dump.rdb
lib
lib-cov
logs
log/*.log
node_modules
npm-debug.log
pids
results
test