// Colors.
// -------
$coffee: #966b43;
$light-coffee: #f7f3e8;
$palid-coffee: #ede0d5;

// Susy variables.
// ---------------
$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 1em;

// Compass/CSS3 variables.
// -----------------------
// Transition
$default-transition-property: all;
$default-transition-duration: 1s;
$default-transition-function: ease;