@import "prefix";

// Components.
@import "components/head";
@import "components/options";
@import "components/body";

// Styling.
a {
    color: inherit;
    text-decoration: inherit;
}

body {
    background: $light-coffee;
}

.page {
    @include container;
}